version: "3.4"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    command: [ "--replSet", "rs0", "--bind_ip_all", "--keyFile", "/etc/mongo-keyfile", "--port", "27017" ]
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: mongoContainerVPS
    ports:
      - 0:27017
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'72.60.26.89:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
      - ./mongo-keyfile:/etc/mongo-keyfile:ro

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local

networks:
  default:
    name: microserviceNetwork
